ve/
web/images/
web/slides/db.sqlite3
web/classifier/static/js
web/classifier/static/css
web/static/js
web/static/css
web/static/admin
web/slides/static
web/media/

frontend/public/openseadragon
node_modules

*.log
*.pid

__pycache__
*.pyc
*.swp
